* {
  margin: 0;
  padding: 0;
  border: 0;
}
img{
  vertical-align: top;
}
body {
  /*background-color: #fffdf5;*/
}
pre {
  word-wrap: break-word;
  word-break: normal;
}

.demo {
  float: left;
  overflow: hidden;
  position: relative;
  width: 284px;
  height: 370px;
  margin: 30px 0 30px 30px;
  border: 1px solid #C39;
}

.demo-box {
  overflow: hidden;
  height: 312px;
  margin: 15px 15px;
}

.demo-title {
  height: 28px;
  color: #fff;line-height: 28px;
  background-color: #C39;
  text-align: center;
}

.demo-box:hover .details {
  margin-top: 0px;
}

.details {
  overflow: hidden;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 254px;
  height: 310px;
  margin-top: -370px;
  padding: 15px;
  color: #fff;
  font-size: 13px;
  background-color: #000;
  cursor: text;
  opacity: 0.8;
  -webkit-transition: margin-top 250ms ease-in;
  -moz-transition: margin-top 250ms ease-in;
  -ms-transition: margin-top 250ms ease-in;
  transition: margin-top 250ms ease-in;
  text-align: left;

  filter:alpha(opacity=8);
}

pre, code { 
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* demo-01 style */
.grayscale { 
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
/* demo-02 style */
.demo-text {
  position: absolute;
  top: 15px;
  right: 20px;
  font-family: "minion-pro";
  font-size: 55px;

  direction: rtl!important;/*设置文字在FF中竖排*/
  direction:inherit;
  writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
}

.demo-text.black {
  z-index: 3;
  color: #000;
}

.demo-text.white {
  overflow: hidden;
  z-index: 9;
  height: 35px;
  margin-top: 157px;
  color: #fff;
}

.demo-02 img{
  position: absolute;
  z-index: 8;
  bottom: 43px;
}
/* demo-03 style*/
.demo-btn {
  position: relative;
  width: 200px;
  height: 40px;
  margin: 15px auto;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  background-color: #000;
  cursor: pointer;
  text-align: center;
}
.demo-btn::before,
.demo-btn::after {
  display: block;
  content: '';
  position: absolute;
}
.demo-btn,
.demo-btn::before,
.demo-btn::after {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.demo-btn::before,
.demo-btn::after {
  top: 0;
  width: 50%;
  height: 100%;
}
.demo-btn::before {
  right: 0;
}
.demo-btn::after {
  left: 0;
}
.demo-btn:hover::before,
.demo-btn:hover::after{
  width: 0;
  background-color: #59b1eb;
}
.demo-btn:hover{
  border-color: #3DC4D8;
  color: #FFF;
  background-color: #3DC4D8;
}
/*demo5 style*/
.demo-05 .demo-box {
  /*flexbox水平垂直居中*/
  display: -webkit-flex;
  display: flex;
  background: url(http://img4.duitang.com/uploads/item/201312/24/20131224112821_LARU2.thumb.700_0.jpeg) 0 / cover fixed;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.demo-05 main {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background: hsla(0,0%,100%,.3);
}
.demo-05 main::before {
  content: '';
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  margin: -30px;
  background: url(http://img4.duitang.com/uploads/item/201312/24/20131224112821_LARU2.thumb.700_0.jpeg) 0 / cover fixed;

  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.demo-05 cite {
  position: absolute;
  width: 100%;
  line-height: 100px;
  text-align: center;
}
/*demo6 style*/
.demo-06 button {
  overflow: hidden;
  position: relative;
  margin: 90px 93px;
  padding: 16px 32px;
}

.demo-06 button:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 100%;
  background: #3f51b5;
  opacity: .6;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.demo-06 button:not(:active):after {
  animation: ripple 1s ease-out;
}

/* 防止页面刷新的时候主动触发执行动画
 */
.demo-06 button:after {
  visibility: hidden;
}
.demo-06 button:focus:after {
  visibility: visible;
}

/*radio*/
.toggle {
  display: block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toggle input {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.toggle label {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

/* ripple
 */
.toggle label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  margin-top: -16px;
  margin-left: -18px;
  border-radius: 100%;
  background: #3f51b5;
  opacity: .6;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes rippleDuplicate {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.toggle input + label:after {
  animation: ripple .4s ease-out;
}

/* to re-trigger the animation with just CSS, we need to duplicate the keyframes
 */
.toggle input:checked + label:after {
  animation-name: rippleDuplicate;
}

/* fixes initial animation run, without user input, on page load.
 */
.toggle label:after {
  visibility: hidden;
}

.toggle input:focus + label:after {
  visibility: visible;
}



